# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Environment variables
.env

# Production build
build/

# IDE files
.vscode/
.idea/

# Miscellaneous
.DS_Store
Thumbs.db