<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Geoguessr</title>
</head>
<body>
  <h1>Upload a New Photo and Location</h1>
  <form method="post" action="/upload" enctype="multipart/form-data">
    <div>
      <label for="photo">Photo:</label>
      <input type="file" name="photo" id="photo" required>
    </div>
    <div>
      <label for="lat">Latitude:</label>
      <input type="number" name="lat" id="lat" step="any" required>
    </div>
    <div>
      <label for="lng">Longitude:</label>
      <input type="number" name="lng" id="lng" step="any" required>
    </div>
    <button type="submit">Upload</button>
  </form>
</body>
</html>